.header {
  gap: var(--spacing-2xl);
  margin: var(--spacing-2xl) auto 5rem auto;
  width: 90%;
  max-width: 75rem;
  color: var(--color-text-light);
  font-size: 1.5rem;
}

.header h1 {
  font-family: 'Montserrat', sans-serif;
}

.highlight {
  background: var(--gradient-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  width: 90%;
  max-width: 75rem;
  margin: var(--spacing-2xl) auto;
  color: white;
}

.form {
  max-width: 30rem;
}

.form label {
  display: block;
  margin-bottom: var(--spacing-sm);
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #b3aea5;
  font-weight: bold;
}

.form input {
  display: block;
  width: 100%;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: 4px;
  border: 1px solid #454952;
  background: #1c2027;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-text-light);
}

.form input:focus {
  outline-color: #f99f2a;
  background-color: #1f252d;
}

.form p {
  margin-bottom: var(--spacing-md);
}

.actions {
  text-align: right;
}

.actions button {
  border: 0;
  padding: 0.75rem var(--spacing-xl);
  background: var(--gradient-primary);
  border: none;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  font: inherit;
  font-size: 1.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background var(--transition-normal);
}

.actions button:hover,
.actions button:focus {
  background: var(--gradient-primary-hover);
}

.actions button:disabled,
.actions button:hover:disabled,
.actions button:focus:disabled {
  background: #ccc;
  color: #979797;
  cursor: not-allowed;
}

.error {
  margin: var(--spacing-md) 0;
  color: #ff9b9b;
  font-weight: bold;
}

.info {
  margin: var(--spacing-md) 0;
  color: #b6f4c2;
  font-weight: 600;
}
